
.flex-container {
  display: flex;
  width:300px;
  flex-wrap: wrap;
  background-color: olivedrab;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
  color:pink
}

.flex-container div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
#pantry{
    border:10px solid pink;
    background-color: dodgerblue;
    padding: .5px;
    color: pink;
}
#container{
    display:flex;
    justify-content:space-evenly;
}
img{
    width:400px;
    height:auto;
    padding: 20px;
}
h2{
    font: bolder;
    font-variant-position: normal;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    font-family:Arial;
    Color:DodgerBlue;
    font-size:xxx-large;
    text-align: center;
    text-decoration-thickness: 10px;
    font-weight:bolder
}
#freezer{
    border:10px solid pink;
    background-color:dodgerblue;
    padding:.5px;
    color:pink
}
h3{
    text-align:center;
    color:darkred;
    font-weight:bolder;
    text-decoration: underline;
}
.special-character::before {
    content: "\2605"; 
  }
  body{background-color:darkslategray;}

  #purchased{
    text-decoration: line-through;
    color: red
  }